.componente_cards{
    display: flex;
    width:440px;
    height: 200px;
    border: 2px solid #757575;
    border-radius: 10px;     box-sizing: border-box;

}
.image img{
    height: 120px;
    border-radius: 10px;
}
.description{
    color: #757575;
}


